/*HOJA DE ESTILOS PARA PROYECTO QUIZ-ER*/
/*CREADO POR: LUIS ANGEL ALFARO GARCÍA*/

/* Estilo para el elemento body. */
body {
  background-color: black;
}

/* Estilo para ajustar el panel con class="container". */
.container {
  margin: 2em 2em;
  overflow: auto;
  text-align: center;
}

/* Estilo para ajustar el panel con class="containerQuiz" 
(Para interfacez con los cuestionarios). */
.containerQuiz {
  margin: 1em 2em;
  overflow: auto;
  text-align: left;
}

/* Estilo para elementos con class="parraf". */
.parraf {
  text-align: center;
  font-family: serif;
  font-size: 20px;
  padding: 1rem 1rem;
  margin: 2rem 2rem;
  color: black;
  font-weight: bold;
  background-color: #FFC012;
}

/* Estilos para los elementos con class="columna" . */
.columna {
  width: 70%;
  display: inline-block;
  margin-bottom: 2rem;
}

/* Estilos para los elementos con class="gif-parr" . */
.gif-parr {
  border: thick groove #FFC012;
  border-radius: 35px;
  margin-bottom: .5rem;
  width: 250px;
  height: 150px;
}

/* Estilo para la clase MiFooter. */
mi-footer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #FFC012;
}

/* Estilo para elemento con id="resultado". */
#resultado{
    color: #FFC012;
}

/* Estilo para elementos con class="btn". */
.btn{
    font-weight: bold;
    color: black;
    background-color:#FFC012;
    display: inline-block;
    margin-bottom: 1rem;
}

/* Estilo para elemento "p". */
p{
    color:#FFC012;
    font:normal 16px sans-serif;
    margin-bottom: 1.5rem;
    
}



